@media screen and (min-width: 1024px) {
    :root {
        --font-size: 16px;
        --main-color: rgb(190, 215, 84);
        --container-width: 1200px;
        --panel-color: #191919;
    }
    body {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'header header header'
            'panel main modal';
    }

    main {
        grid-area: main;
    }

    .title {
        grid-area: header;
    }

    .panel {
        grid-area: panel;
        position: sticky;
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        background-color: var(--panel-color);
    }

    .panel-btn {
        display: none;
    }

    .menu {
        position: sticky;
        justify-content: start;
        text-align: left;
    }

    .menu a:hover,
    a.active {
        color: var(--panel-color);
        background-color: var(--main-color);
        font-weight: bold;
    }

    .menu a {
        font-size: 1rem;
        margin: 15px auto;
        padding: 2rem;
    }

    .theme-btn {
        left: initial;
        right: 1vh;
    }

    .modal-content {
        margin: 5rem auto;
        grid-area: modal;
        display: block;
        padding: 0;
    }

    .modal-columns {
        display: flex;
        width: 95%;
        max-width: 600px;
        box-shadow: 7px 5px 25px rgb(190, 215, 84, 0.7);
        border-radius: 5px;
        overflow: hidden;
        justify-content: inherit;
        flex-direction: initial;
    }

    .modal-column {
        text-align: center;
        flex: 1;
        margin: auto 20px;
    }

    #foto {
        margin: 15px auto;
        width: 100%;
    }
}
